@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500&family=Poppins:wght@300;400&family=Quicksand:wght@400;500&family=Varela+Round&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
    background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}